.detailsPokemon-container{
    width: 100%;
    height: min-content;
    position: relative;
    background-color: #fffdcf;
    border-radius:10px;
    z-index: 100;
    margin-top: 0%;
    margin-left: 50%;
    
        .btn-close{
            position: absolute;
            top: 5px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #FFFFFF;
            z-index: 200;
        }
        .detailsPokemon-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .detailsPokemon-detail-container{
            width: 80%;
            margin-top: 20px;
            
            .detailsPokemon-detail{
                display: flex;
                justify-content: center;
                align-items:center;
                flex-direction: column;
                margin-bottom: 10px;
                :first-child{
                    font-weight: bold;
                }
            }
        }

        .detailPokemon-type{
           display: flex;
           flex-direction: row;
        }
}
@media screen and (max-width: 400px){
    .detailsPokemon-container{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}