.searchPokemon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
        width: min-content;
        height: 50px;
        padding: 10px;
        font-size: 2rem;
        margin: 20px 20px;
        border-radius: 10px;
    }
    input[type="submit"]{
        height: 55px;
    }
}
@media screen and (max-width: 400px) {
    .searchPokemon-container{
        width: 90%;
        align-items: center;
        padding: 5px;
        margin: 0px 20px;
        input{
            width: 80%;
            font-size: 1rem;
        }
    }
}